<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Fecha Generación</th>
        <th>Formato</th>
        <th>Usuario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reporte of reportes">
        <td>{{ reporte.id }}</td>
        <td>{{ reporte.tipo }}</td>
        <td>{{ reporte.fechaGeneracion | date:'short' }}</td>
        <td>{{ reporte.formato }}</td>
        <td>{{ reporte.usuario }}</td>
        <td>
          <button class="btn btn-sm btn-success" (click)="descargar(reporte)">
            <i class="fa fa-download"></i> Descargar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
