<form (ngSubmit)="save()" class="p-3">
  <h5 class="mb-4 text-primary">Agregar Clase</h5>

  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Nombre</label>
      <input type="text" [(ngModel)]="clase.nombre" name="nombre" class="form-control" placeholder="Ej: Yoga Avanzado" required />
    </div>

    <div class="col-md-6">
      <label class="form-label">Horario</label>
      <input type="time" [(ngModel)]="clase.horario" name="horario" class="form-control" required />
    </div>

    <div class="col-md-6">
      <label class="form-label">ID Entrenador</label>
      <input type="number" [(ngModel)]="clase.entrenador.id" name="entrenador" class="form-control" placeholder="Ej: 1" required />
    </div>
  </div>

  <div class="mt-4 d-flex justify-content-end">
    <button type="submit" class="btn btn-primary px-4" (click)="guardarClase()">
  <i class="fa-solid fa-floppy-disk me-2"></i> Guardar
</button>
  </div>
</form>
